.title {
	font-family: "Merienda", cursive;
	color: rgba(175, 95, 4, 0.7);
	font-size: 70px;
	font-weight: 100px;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: black;
}

.headerDiv {
	display: flex;
	justify-content: center;
}

.fa-motorcycle {
	color: black;
	font-size: large;
}
