@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap");


    
.share-btn-container {
background: white !important;
display: flex !important;
flex-direction: column !important;
padding: 16px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3) !important;
position: fixed !important;
top: 50% !important;
left: 0%  !important;
transform: translateY() !important;
}

.share-btn-container a i {
font-size: 32px;
}

.share-btn-container a {
margin: 12px 0;
transition: 500ms;
}

.share-btn-container a:hover {
transform: scale(1.2);
}

.share-btn-container .fa-facebook {
color: #3b5998;
}

.share-btn-container .fa-twitter {
color: #188ed8;
}

.share-btn-container .fa-instagram {
color: #ff4500;

}