.event {
	margin: 10px 20px 10px 20px;
	background-color: rgba(190, 146, 24, 0.6);
	border: 3px solid rgb(192, 192, 192);
	box-shadow: 12px 12px 2px 1px rgba(56, 218, 247, 0.2);
	font-family: "Merienda", cursive !important;
	width: 300px;
	height: 350px;
}

#eventInfo {
	margin: 0px 20px 0px 20px;
}
