#title{
  color: rgb(190, 146, 24) !important;
  font-family: "Merienda", cursive  !important;
  font-size: 40px;
}


/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/mechanics/mec-2/mec180.cur), auto !important;} /* End https://www.cursors-4u.com */